---
// src/pages/blog/index.astro （ブログ記事一覧ページ）
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro'; // 例: 基本レイアウト
import { Image } from "astro:assets";
import cloud from "../../assets/images/cloud.webp";
import rectangle from "../../assets/images/rectangle.webp";
import '../../styles/global.css';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// URLを決定するヘルパー関数 (例)
function getPostUrl(post) {
  if (post.data.url) {
    // フロントマターにurlがあれば、ルートからのパスを返す
    return `/${post.data.url}/`;
  }
  // なければファイルパスに基づくデフォルトのパスを返す
  // post.slug は 'html/html-custom' のようになる
  return `/blog/${post.slug}/`;
}
---
<BaseLayout title="ブログ一覧 - こころ和む心理学">
  <div class="container">
    <div class="title">
      <div class="image-container">
        <Image src={rectangle} alt="" class="rectangle" width={1200} height={150} />
        <Image src={cloud} alt="" class="cloud" width={367} height={302} />
        <h1 class="text">ブログ</h1>
      </div>
      <div class="triangle-container">
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
        <span class="triangle"></span>
      </div>
    </div>
    <div class="contents">
      <ul>
        {posts.map((post) => (
          <a class="post-link" href={getPostUrl(post)}>
          <li class="item">
            {/* getPostUrlヘルパーを使ってリンク先を決定 */}
            <p>{post.data.title}</p>
            <p>公開日: {post.data.pubDate.toLocaleDateString()}</p>
            {post.data.description && <p>{post.data.description}</p>}
          </li>
          </a>
        ))}
      </ul>
    </div>
  </div>
</BaseLayout>


<style>
.container{
  margin: 0 auto;
}

.rectangle {
  width: 100%;
  height: 150px;
}

.contents {
    max-width: 1000px;
}

.contents ul {
  list-style: none;
}

.triangle-container {
  position: relative;
}

.image-container {
  position: relative;
}

.cloud {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}

.triangle {
  width: 25px;
  height: 25px;
  background-color: #FFEE7D;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
}

.triangle:nth-child(1) {
  top: -15px;
  left: 27%;
  transform: rotate(22deg);
}

.triangle:nth-child(2) {
  top: 40px;
  left: 22%;
  transform: rotate(13deg);
}

.triangle:nth-child(3) {
  top: 70px;
  left: 26%;
  transform: rotate(-18deg);
  background-color: #C4D700;
}

.triangle:nth-child(4) {
  top: 120px;
  left: 21%;
  transform: rotate(180deg);
  background-color: #C4D700;
}

.triangle:nth-child(5) {
  top: 130px;
  left: 28%;
  transform: rotate(35deg);
  background-color: #C4D700;
}

.triangle:nth-child(6) {
  top: 140px;
  left: 33%;
  transform: rotate(22deg);
}

.triangle:nth-child(7) {
  top: -100px;
  left: 70%;
  transform: rotate(-9deg);
}

.triangle:nth-child(8) {
  top: -90px;
  left: 75%;
  transform: rotate(-22deg);
  background-color: #C4D700;
}

.triangle:nth-child(9) {
  top: -50px;
  left: 82%;
  transform: rotate(14deg);
  background-color: #C4D700;
}

.triangle:nth-child(10) {
  top: -20px;
  left: 74%;
  transform: rotate(59deg);
  background-color: #C4D700;
}

.triangle:nth-child(11) {
  top: 10px;
  left: 78%;
}

.triangle:nth-child(12) {
  top: 40px;
  left: 85%;
  transform: rotate(19deg);
}

.contents {
  margin: 0 auto;
  margin-top: 200px;
}

.contents ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 60px 20px;
  padding: 0;
  margin: 0 20px;
}

.item {
  width: 250px;
  height: 300px;
  border: 3px solid #000;
  border-radius: 16px;
  background-color: #fff;
}

.post-link {
  display: block;
  text-align: center;
  color: #604461;
  text-decoration: none;
}

</style>