---
import { Image } from "astro:assets";
import manBlue from "../assets/images/man-blue.webp";
import rightArrow from "../assets/images/right-arrow.webp";
import womanBlue from "../assets/images/woman-blue.webp";
import manWhite from "../assets/images/man-white.webp";
import womanWhite from "../assets/images/woman-white.webp";
---

<div class="container">
  <h2 class="title">カテゴリー</h2>
  <div class="categories">
    <div class="category-top">
      <a href="" class="category-item">
        <Image src={manBlue} alt="青い服の男性" class="img" width={50} height={63} />
        <p>メンタル改善</p>
        <Image src={rightArrow} alt="右矢印" class="arrow" width={20} height={20} />
      </a>
      <a href="" class="category-item">
        <Image src={womanBlue} alt="青い服の女性" class="img" width={43} height={63} />
        <p>感情コントロール</p>
        <Image src={rightArrow} alt="右矢印" class="arrow" width={20} height={20} />
      </a>
    </div>
    <div class="category-bottom">
      <a href="" class="category-item">
        <Image src={manWhite} alt="白い服の男性" class="img" width={50} height={62} />
        <p>
          モチベーション<br>
          習慣
        </p>
        <Image src={rightArrow} alt="右矢印" class="arrow" width={20} height={20} />
      </a>
      <a href="" class="category-item">
        <Image src={womanWhite} alt="白い服の女性" class="img" width={47} height={63} />
        <p>人間関係</p>
        <Image src={rightArrow} alt="右矢印" class="arrow" width={20} height={20} />
      </a>
    </div>
  </div>
</div>

<style>
.container {
  width: 60%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.category-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.category-bottom {
  display: flex;
  justify-content: space-between;
}

.category-item {
  width: 45%;
  height: 100px;
  background-color: #D2E7BF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.arrow {
  margin-left: auto;
  margin-right: 20px;
}

.img {
  margin: 0 4px 0 10px;
}

@media screen and (max-width:768px) {
  .container {
    width: 80%;
  }

  .category-top, .category-bottom {
    display: block;
    margin: 0;
  }

  .category-item {
    width: 100%;
    margin-bottom: 40px;
  }

}

</style>